{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
  {% for question in questions %}
  <br>
  
  {# <h2 class="mt-5 ml-5"> Question {{question.id}}/ </h2> #}
  <div class='card-body' style='margin-top:2%'>
   <h3 class='card-title ml-5'> 
    {{ question.question }}
    <br>
    {% for reponse in reponses%}
    <div class="jumbotron">
    {% set choice = reponse.reponseExpected %}
     <button name='reponses' class='btn btn-outline-primary w-50 {% set choice2 = choice %}' style='margin-left:25%' type='submit'>{{reponse.reponse}}</button>
    </div>
    {# {% if choice2 == true %}
    salut
 {% endif %} #}
  {% endfor %}
    <button class='btn btn-primary rounded-pill' style='margin-left:80%' > Suivant</button>
{% endfor %}
 
  </h3>
  </div>
{% endblock %}

{# path('verify', {idexpected: choice, idcategorie: categorie.id, id: question.id}) #}
